<div data-section-id="{{ section.id }}"  data-section-type="Footer-model-5" class="footer-model-5">
  <footer class="site-footer grid-uniform"   style="{% if section.settings.footer_left_bg %}background-image:url('{{ section.settings.footer_left_bg_img | img_url: 'master' }}');background-repeat:no-repeat; {% else %}background-color:{{ section.settings.footer_left_bg_color }};{% endif %}" >
    {% if section.settings.footer_about_section %}
    <div class="grid__item wide--two-fifths post-large--two-fifths large--two-fifths medium--grid__item" style="position:relative;margin:0;">
      <div class="footer-logo my_element">
        <div class="footer_container"> 
          {% if section.settings.footer_logo_enable %}          
          <a href="/">
            <img  class="normal-footer-logo" src="{{ section.settings.footer_logo | img_url: "200x" }}" alt="{{ shop.name }}" />
          </a>
          {% endif %}  
          {% if section.settings.welcome_text != blank  %}      
          <p style="color:{{ section.settings.footer_text }};">{{ section.settings.welcome_text }}</p> 
          {% endif %}
          <div class="payment_section">
            {% if section.settings.payment_title != blank  %}
            <h4 style="color:{{ section.settings.footer_text }};">{{ section.settings.payment_title }}</h4>             
            {% endif %}

            {% if section.settings.payment_text != blank  %}
            <p style="color:{{ section.settings.footer_text }};">{{ section.settings.payment_text }}</p>             
            {% endif %}
            {% if section.settings.footer_show_methods_of_payment %}
            <div class="footer-icons">        
              <ul class="inline-list payment-icons">
                {% if section.settings.payment_icon_1 != blank %}<li><a href="/cart"><img src="{{ section.settings.payment_icon_1 | img_url }}" alt="payment_icon_1" /></a></li>{% endif %}
                {% if section.settings.payment_icon_2 != blank %}<li><a href="/cart"><img src="{{ section.settings.payment_icon_2 | img_url }}" alt="payment_icon_2" /></a></li>{% endif %}
                {% if section.settings.payment_icon_3 != blank %}<li><a href="/cart"><img src="{{ section.settings.payment_icon_3 | img_url }}" alt="payment_icon_3" /></a></li>{% endif %}
                {% if section.settings.payment_icon_4 != blank %}<li><a href="/cart"><img src="{{ section.settings.payment_icon_4 | img_url }}" alt="payment_icon_4" /></a></li>{% endif %}
                {% if section.settings.payment_icon_5 != blank %}<li><a href="/cart"><img src="{{ section.settings.payment_icon_5 | img_url }}" alt="payment_icon_5" /></a></li>{% endif %}
                {% if section.settings.payment_icon_6 != blank %}<li><a href="/cart"><img src="{{ section.settings.payment_icon_6 | img_url}}" alt="payment_icon_6" /></a></li>{% endif %}            
                {% if section.settings.payment_icon_7 != blank %}<li><a href="/cart"><img src="{{ section.settings.payment_icon_7 | img_url}}" alt="payment_icon_7" /></a></li>{% endif %}            
                {% if section.settings.payment_icon_8 != blank %}<li><a href="/cart"><img src="{{ section.settings.payment_icon_8 |  img_url}}" alt="payment_icon_8" /></a></li>{% endif %}            
                {% if section.settings.payment_icon_9 != blank %}<li><a href="/cart"><img src="{{ section.settings.payment_icon_9 | img_url}}" alt="payment_icon_9" /></a></li>{% endif %}            
                {% if section.settings.payment_icon_10 != blank %}<li><a href="/cart"><img src="{{ section.settings.payment_icon_10 | img_url}}" alt="payment_icon_10" /></a></li>{% endif %}            
              </ul>               
            </div> 
            {% endif %}  
          </div>
        </div>   
      </div>
    </div>
    {% endif %}        
    <div class="grid__item wide--three-fifths post-large--three-fifths large--three-fifths medium--grid__item">
      <div class="footer_right_width" style="background:{{ section.settings.footer_right_bg }}">
        <div class="footer_right_container"> 
          <div class="grid__item">   
            {% assign num_footer_columns = 0 %}     
            {% if section.settings.footer_social_enable %}
            {% assign num_footer_columns = num_footer_columns | plus: 1 %}
            {% endif %}
            {%- assign footer_linklist1 = section.settings.footer_menu_1 %}
            {% if linklists[footer_linklist1].links.size > 0 %}
            {% assign num_footer_columns = num_footer_columns | plus: 1 %}
            {% endif %}

            {%- assign footer_linklist2 = section.settings.footer_menu_2 %}
            {% if linklists[footer_linklist2].links.size > 0 %}
            {% assign num_footer_columns = num_footer_columns | plus: 1 %}
            {% endif %}

            {% case num_footer_columns %}
            {% when 0 %}
            {% when 1 %}
            {% assign footer_num_column_width = 'text-left' %}
            {% when 2 %}
            {% assign footer_num_column_width = 'wide--one-half post-large--one-half large--one-half medium--one-half' %}
            {% when 3 %}
            {% assign footer_num_column_width = 'wide--one-third post-large--one-third large--one-third medium--one-third' %}     
            {% endcase %} 

            {% if section.settings.footer_social_enable %}
            <div class="grid__item {{ footer_num_column_width }}">
              {% if section.settings.social_title != blank %}
              <h4 style="color:{{ section.settings.footer_title }};">{{ section.settings.social_title }}</h4>   
              {% endif %}
              {% include 'social-links-type-5' %}
            </div>
            {% endif %}  
            {%- assign footer_linklist1 = section.settings.footer_menu_1 %}
            {% if linklists[footer_linklist1].links.size > 0 %}
            <div class="grid__item {{ footer_num_column_width }}">   
              {% if section.settings.footer_menu_1_title != blank %}
              <h4 style="color:{{ section.settings.footer_title }};">{{ section.settings.footer_menu_1_title }}</h4>
              {% endif %}
              <ul class="site-footer__links">
                {% for link in linklists[section.settings.footer_menu_1].links %}
                <li><a style="color:{{ section.settings.footer_link }};" href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
              </ul>          
            </div>
            {% endif %}    
            {%- assign footer_linklist2 = section.settings.footer_menu_2 %}
            {% if linklists[footer_linklist2].links.size > 0 %}
            <div class="grid__item {{ footer_num_column_width }}">          
              {% if section.settings.footer_menu_2_title != blank %}
              <h4 style="color:{{ section.settings.footer_title }};">{{ section.settings.footer_menu_2_title }}</h4>
              {% endif %}
              <ul class="site-footer__links">
                {% for link in linklists[section.settings.footer_menu_2].links %}
                <li><a style="color:{{ section.settings.footer_link }};" href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
              </ul>         
            </div>
            {% endif %}
          </div>
          <div class="grid__item">
            {% assign bottom_footer_columns = 0 %}     

            {%- assign footer_linklist3 = section.settings.footer_menu_3 %}
            {% if linklists[footer_linklist3].links.size > 0 %}
            {% assign bottom_footer_columns = bottom_footer_columns | plus: 1 %}
            {% endif %}
            {% if section.settings.show_contact %}
            {% assign bottom_footer_columns = bottom_footer_columns | plus: 1 %}
            {% endif %}
            {%- assign footer_linklist3 = section.settings.footer_menu_3 %}
            {% if linklists[footer_linklist3].links.size > 0 %}
            <div class="grid__item wide--one-third post-large--one-third large--one-third medium--one-third">          
              {% if section.settings.footer_menu_3_title != blank %}
              <h4 style="color:{{ section.settings.footer_title }};">{{ section.settings.footer_menu_3_title }}</h4>
              {% endif %}
              <ul class="site-footer__links">
                {% for link in linklists[section.settings.footer_menu_3].links %}
                <li><a style="color:{{ section.settings.footer_link }};" href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
              </ul>         
            </div>
            {% endif %}
            {% if section.settings.show_contact %}
            <div class="grid__item wide--two-thirds post-large--two-thirds large--two-thirds medium--two-thirds">
              {% if section.settings.footer_menu_4_title != blank %}        
              <h4 style="color:{{ section.settings.footer_title }};">{{ section.settings.footer_menu_4_title}}</h4> 
              {% endif %}        
              {% if section.settings.footer_address != blank or section.settings.footer_contact_no != blank %}        
              <div class="address" style="color:{{ section.settings.footer_txt_clr }};">
                <p style="color:{{ section.settings.footer_text }};">{% if section.settings.footer_address != blank %}
                  <i class="fa fa-home" style="background:{{ section.settings.footer_icon_bg }};color:{{ section.settings.footer_icon_text }};"></i>
                  {{ section.settings.footer_address }}
                  {% endif %}  
                </p>
                <p style="color:{{ section.settings.footer_text }};">
                  {% if section.settings.footer_contact_no != blank %}
                  <i style="margin-top:12px;background:{{ section.settings.footer_icon_bg }};color:{{ section.settings.footer_icon_text }};" class="fa fa-phone"></i>{{ section.settings.footer_contact_no }}
                  {% endif %}
                </p>
              </div>
              {% endif %}

              {% if  section.settings.footer_contact_link != blank and section.settings.footer_contact_id != blank %}
              <a style="color:{{ section.settings.footer_link }};" href="mailto:{{ section.settings.footer_contact_link }}" style="color:{{ section.settings.footer_link_clr }};"><i style="background:{{ section.settings.footer_icon_bg }};color:{{ section.settings.footer_icon_text }};"class="fa fa-envelope"></i>{{ section.settings.footer_contact_id }}</a>
              {% endif %}        
            </div>
            {% endif %}      
          </div>

          {% if section.settings.use_footer_bottom %}
          <div class="footer-menu">
            {% if section.settings.copyright != blank %}
            <p style="color:{{ section.settings.copyright_text_clr }};" class="copyright-type__5">{{ section.settings.copyright }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name }}
              {% if section.settings.use_powered_by %}
              {{ powered_by_link }}
              {% endif %}
            </p>
            {% endif %}       

          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </footer>

  <style>
    .footer-model-5 .site-footer a:hover { color:{{ section.settings.footer_link_hover }} !important; }
    .footer-model-5 .copyright-type__5 a:hover { color:{{ section.settings.copyright_link_hover_clr }} !important; }
    .footer-model-5 .copyright-type__5 a { color:{{ section.settings.copyright_link }};  }
    .footer-model-5 .footer-menu { border-top:1px solid {{ section.settings.copyright_border }}; }
  </style>
</div>


{% schema %}
  {
  "name": "Footer",
  "settings": [
  {
  "type": "checkbox",
  "id": "footer_left_bg",
  "label": "Footer Left Bg Image?"
  },
  {
  "type": "image_picker",
  "id": "footer_left_bg_img",
  "label": "Bg image"
  }, 
{
  "type": "color",
  "id": "footer_left_bg_color",
  "label": "Footer Left Bg Color",
  "default":"#eb7b07"
  },
  {
  "type": "color",
  "id": "footer_title",
  "label": "Footer Title",
  "default":"#fff"
  },

  {
  "type": "color",
  "id": "footer_text",
  "label": "Footer text",
  "default":"#fff"
  },
  {
  "type": "color",
  "id": "footer_link",
  "label": "Footer Link",
  "default":"#fff"
  },
  {
  "type": "color",
  "id": "footer_link_hover",
  "label": "Footer Link Hover",
  "default":"#fff"
  },

  {
  "type": "checkbox",
  "id": "footer_logo_enable",
  "label": "Show footer logo"
  },
  {
  "type": "image_picker",
  "id": "footer_logo",
  "label": "Logo image"
  }, 
  {
  "type": "textarea",
  "id": "welcome_text",
  "label": "Welcome text"
  },

  {
  "type": "checkbox",
  "id": "footer_show_methods_of_payment",
  "label": "Show payment method",
  "default": true
  },
  {
  "type": "textarea",
  "id": "payment_title",
  "label": "Payment heaidng"
  },
  {
  "type": "textarea",
  "id": "payment_text",
  "label": "Payment info"
  },
 
  {
  "type": "image_picker",
  "id": "payment_icon_1",
  "label": "Image"
  },      
  {
  "type": "image_picker",
  "id": "payment_icon_2",
  "label": "Image"
  },      
  {
  "type": "image_picker",
  "id": "payment_icon_3",
  "label": "Image"
  },      
  {
  "type": "image_picker",
  "id": "payment_icon_4",
  "label": "Image"
  },      
  {
  "type": "image_picker",
  "id": "payment_icon_5",
  "label": "Image"
  },      
  {
  "type": "image_picker",
  "id": "payment_icon_6",
  "label": "Image"
  }, 
{
  "type": "image_picker",
  "id": "payment_icon_7",
  "label": "Image"
  }, 
{
  "type": "image_picker",
  "id": "payment_icon_8",
  "label": "Image"
  }, 
{
  "type": "image_picker",
  "id": "payment_icon_9",
  "label": "Image"
  }, 
{
  "type": "image_picker",
  "id": "payment_icon_10",
  "label": "Image"
  },
  {
  "type": "checkbox",
  "id": "footer_social_enable",
  "label": "Show social media icons"       
  },
  {
  "type": "text",
  "id": "social_title",
  "label": "Heading"      
  },
  {
  "type": "text",
  "id": "social_subheading",
  "label": "Sub heading"      
  },
  {
  "type": "checkbox",
  "id": "footer_about_section",
  "label": "Footer about section?",
  "default": true
  }, 

  {
  "type": "color",
  "id": "footer_right_bg",
  "label": "Footer right Bg",
  "default":"#000"
  },

  {
  "type": "link_list",
  "id": "footer_menu_1",
  "label": "Footer link"
  },
  {
  "type": "text",
  "id": "footer_menu_1_title",
  "label": "Heading",
  "default": "Footer menu 1"
  },
  {
  "type": "link_list",
  "id": "footer_menu_2",
  "label": "Footer link"
  },
  {
  "type": "text",
  "id": "footer_menu_2_title",
  "label": "Heading",
  "default": "Footer menu 2"
  },
  {
  "type": "link_list",
  "id": "footer_menu_3",
  "label": "Footer link"
  },
  {
  "type": "text",
  "id": "footer_menu_3_title",
  "label": "Heading",
  "default": "Footer menu 3"
  },

  {
  "type": "checkbox",
  "id": "show_contact",
  "label": "Show contact"
  },    
  {
  "type": "color",
  "id": "footer_icon_bg",
  "label": "Icon Bg",
  "default": "#000"
  },
  {
  "type": "color",
  "id": "footer_icon_text",
  "label": "Icon text",
  "default": "#fff"
  },
  {
  "type": "text",
  "id": "footer_menu_4_title",
  "label": "Heading",
  "default": "Contact us"
  },
  {
  "type": "textarea",
  "id": "footer_address",
  "label": "Address"      
  },
  {
  "type": "text",
  "id": "footer_contact_no",
  "label": "Phone"      
  },
  {
  "type": "text",
  "id": "footer_contact_id",
  "label": "E-Mail"      
  },
  {
  "type": "text",
  "id": "footer_contact_link",
  "label": "Link"
  },
  {
  "type": "checkbox",
  "id": "use_footer_bottom",
  "label": "Use footer bottom?"
  },

  {
  "type": "textarea",
  "id": "copyright",
  "label": "Copy Right Text",
  "default": "Copyright"
  },
  {
  "type": "color",
  "id": "copyright_border",
  "label": "Copy Right Border",
  "default": "#000"
  },
  {
  "type": "color",
  "id": "copyright_text_clr",
  "label": "Copy Right Text Color",
  "default": "#000"
  },
  {
  "type": "color",
  "id": "copyright_link",
  "label": "Copy Right Link",
  "default": "#000"
  },
  {
  "type": "color",
  "id": "copyright_link_hover_clr",
  "label": "Copy Right Link Hover",
  "default": "#000"
  },
  {
  "type": "checkbox",
  "id": "use_powered_by",
  "label": "Use Powered By"
  }  
]
}
{% endschema %}

