<div data-section-id="{{ section.id }}"  data-section-type="home-product-grid-type-4" class="home-product-grid-type-4" style="{% if section.settings.show_bg_image %}background-image:url('{{ section.settings.bg_image | img_url: '1920X' }}');background-attachment:fixed;background-repeat:no-repeat;background-position:center center; {% else %}background-color:{{section.settings.bg_color}};float:left;width:100%;{% endif%}">
 {%- assign collection = collections[section.settings.collection] -%}
 {%- assign limit = section.settings.grid | times: section.settings.rows -%}
   <div class="pattern pattern-{{ section.id }}-animate" style="{% if section.settings.image != blank %} background-image:url('{{ section.settings.image | img_url: 'master' }}');background-repeat:no-repeat; position:absolute;width:200px;height:120px;z-index:0;left:12.5%;top:20%{% endif %}"></div>
  <div class="container">
    
  {%- assign tp = section.settings.total_products  -%}
  <div class="full_width_tab load-wrapper">  
     
      {% if section.settings.title != blank or section.settings.small_title  %}
      <div class="section-header section-header--small">
        <div class="border-title">
          
          
          {% endif %}  
          
          {% if section.settings.title != blank %}
          <h2 class="section-header__title" style="color:{{ section.settings.title_clr }};">    
            {{ section.settings.title }}
          </h2>
          {% endif %}  
          {% if section.settings.small_title != blank %}
          <div class="short-desc"><p style="color:{{ section.settings.text_clr }};">{{ section.settings.small_title }}</p></div>{% endif %}  
          {% if section.settings.title != blank or section.settings.small_title  %}
          
        </div>
      </div>
    
   
      {% endif %}      
  		 {% case section.settings.grid %}
            {% when '2' %}
            {%- assign grid_item_width = 'wide--one-half post-large--one-half large--one-half medium--one-half small-grid__item' -%}
            {% when '3' %}
            {%- assign grid_item_width = 'wide--one-third post-large--one-third large--one-third medium--one-half small-grid__item' -%}
            {% when '4' %}
            {%- assign grid_item_width = 'wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half small-grid__item' -%}
            {% when '5' %}
            {%- assign grid_item_width = 'wide--one-fifth post-large--one-quarter large--one-third medium--one-half small-grid__item' -%}            
            {% endcase %}  
      <ul class="grid-uniform type4__items">
        {% for product in collection.products limit:limit   %}
        {% include 'product-grid-item', grid_item_width:grid_item_width %} 
         {% else %}
        {% for i in (1..4) %}
         {% include 'empty-row', grid_item_width:grid_item_width %} 
        {% endfor %}
        {% endfor %}
      </ul>
    </div>
    
  </div>
  <style>
    {% if section.settings.heading_image_need %} .home-product-grid-type-4 .border-title:after {  background-image:url({{ section.settings.heading_image | img_url: 'master' }});} {% endif %}
	{% if section.settings.image_2 != blank %}.pattern2.pattern2-1562911271417-animate{ width:350px !important; height: 490px !important; top: 12% !important; bottom:0 !important; }{% endif %}
  	{% if section.settings.image != blank %}.pattern.pattern-1562911271417-animate{ width:280px !important; height: 380px !important; top: 40% !important;}{% endif %}
  </style>
  
  <div class="pattern2 pattern2-{{ section.id }}-animate" style="{% if section.settings.image_2 != blank %} background-image:url('{{ section.settings.image_2 | img_url: 'master' }}');background-repeat:no-repeat;position:absolute;width:150px;height:150px;z-index:0;bottom:20%;right:11%;{% endif %}"></div>
</div>

<script type="text/javascript">
  
$(window).mousemove(function(e) {
    var change;
    var xpos=e.clientX;var ypos=e.clientY;var left= change*20;
    var  xpos=xpos*2;ypos=ypos*2;
    $('.pattern-{{ section.id }}-animate').css('top',((0+(ypos/50))+"px"));
    $('.pattern-{{ section.id }}-animate').css('left',(( 0+(xpos/80))+"px"));
                   
  });
   $(window).mousemove(function(e) {
    var change;
    var ypos=e.clientX;var xpos=e.clientY;var right= change*20;
    var  xpos=xpos*2;ypos=ypos*2;
    $('.pattern2-{{ section.id }}-animate').css('bottom',((0+(xpos/50))+"px"));
    $('.pattern2-{{ section.id }}-animate').css('right',(( 0+(ypos/80))+"px"));
                   

  });

      </script>


{% schema %}
{
  "name": "Products Grid",
  "class": "index-section",
  "settings": [  
{
"type": "checkbox",
"id": "show_bg_image",
"label": "Show background image"
},
{
"type": "image_picker",
"id": "bg_image",
"label": "Image",
"info": "Size: 1920x800"
},
{
"type": "color",
"id": "bg_color",
"label":"Bckground color",
"default": "#f5f5f5"
},

		{
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "New arrivals"
      },	
      {
      "type": "color",
      "id": "title_clr",
      "label": "Title Color",
      "default":"#000"
      },

{
      "type": "checkbox",
      "id": "heading_image_need",
      "label": "Show Heading Image ?"
      
    },	
{
      "type": "image_picker",
      "id": "heading_image",
      "label": "Image",
	  "info": "Size: 85x8"
      
    },	
{
"type": "image_picker",
"id": "image",
"label": "Image",
"info": "Size: 262x362"
},
{
"type": "image_picker",
"id": "image_2",
"label": " Image-2",
"info": "Size: 338x474"
},


      {
      "type": "text",
      "id": "small_title",
      "label": "Small Heading"
      },	
     {
      "type": "color",
      "id": "text_clr",
      "label": "Text color",
      "default":"#000"
      },
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    },

    {
      "type": "select",
      "id": "grid",
      "label": "Products per row",
      "default": "3",
      "options": [
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        }
      ]
    },
{
        "type": "select",
        "id": "rows",
        "label": "Rows per page (grid only)",
        "default": "2",
        "options": [
			{
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }          
        ]
      }
  
  ],
  "presets": [
    {
     "name": "Products Grid",
      "category": "Collection"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

