
<div class="nav-bar-mobile">
  <nav class="nav-bar" role="navigation">
    <div class="site-nav-dropdown_inner">
      {% include 'site-nav-2' %}
    </div>
  </nav>
</div>

 


<style> 
      
    .header-type-13 .header-bar__module.cart .baskettop a.icon-cart-arrow #cartCount { background: {{ section.settings.minicart_count_bg }};color:{{section.settings.minicart_count }};}
    .header-type-13 .header-bar__module.cart .baskettop a.icon-cart-arrow:hover #cartCount { background: {{ section.settings.minicart_count_hover_bg }};color:{{section.settings.minicart_count_hover_text }};}

     
     /* Logo block */
    .header-type-13 .site-header__logo a { color:{{section.settings.logo_text }};}
    .header-type-13 .site-header__logo a:hover { color:{{section.settings.logo_hover_text }};}    
    
    /* Menu  block */
     .header-type-13 .is-sticky .site-header__menubar { border-bottom:1px solid {{ section.settings.border_between_bars}}; }
     .header-type-13 .site-header__menubar,.mobile-nav-section {background: {{ section.settings.menubar_bg }};padding:0 10px;}
    .header-type-13 .menu-tool ul li {color: {{ section.settings.menubar_text }};}
    .header-type-13 .menu-tool ul li a,.mobile-nav-section .mobile-nav-trigger {color:{{section.settings.menubar_links}};}  
    .header-type-13 .menu-tool ul li a:hover,.header-type-13 .menu-tool .site-nav > li > a.current:hover {color:{{section.settings.menubar_links_hover}};} 
    .header-type-13 .menu-tool .site-nav >  li > a.current {color:{{section.settings.menu_active}};} 
    .header-type-13 .site-nav-dropdown,#MobileNav,.mobile-nav__sublist { background: {{ section.settings.menubar_dropdown_bg }};}
    .header-type-13 .site-nav-dropdown .inner > a {color: {{ section.settings.menubar_dropdown_caption }};}    
    .header-type-13 .site-nav-dropdown .inner > a:hover {color: {{ section.settings.menubar_dropdown_caption_hover }};}    
    .header-type-13 .site-nav-dropdown .inner .dropdown a,.header-type-13 .menu-tool .site-nav .site-nav-dropdown li a,.header-type-13 .site-nav .widget-featured-product .product-title,.header-type-13 .site-nav .widget-featured-product .widget-title h3,#MobileNav a,.mobile-nav__sublist a,.site-nav .widget-featured-nav .owl-prev a,.site-nav .widget-featured-nav .owl-next a  {color: {{ section.settings.menubar_dropdown_links }};}
    .header-type-13 .site-nav-dropdown .inner .dropdown a:hover,.header-type-13 .menu-tool .site-nav .site-nav-dropdown li a:hover,.header-type-13 .site-nav-dropdown .inner .dropdown a.current,.header-type-13 .menu-tool .site-nav .site-nav-dropdown li a.current,.header-type-13 .site-nav .widget-featured-product .product-title:hover,#MobileNav a.current,.mobile-nav__sublist a.current,.site-nav .widget-featured-nav .owl-prev a:hover,.site-nav .widget-featured-nav .owl-next a:hover {color: {{ section.settings.menubar_dropdown_links_hover }};}    
    
    /* Dropdown block */
    .header-type-13 .menubar-section #Togglemodal i {color: {{ section.settings.dropdown_icon }};}
    .header-type-13 .menubar-section #Togglemodal i:hover {color: {{ section.settings.dropdown_icon_hover }};}
    .header-type-13 #slidedown-modal {background: {{ section.settings.dropdown_bg }};}
    .header-type-13 #slidedown-modal ul li a {color:{{section.settings.dropdown_link}};} 
    .header-type-13 #slidedown-modal ul li a:hover {color:{{section.settings.dropdown_hover_link}};}
    .header-type-13 .tbl-list > li.currency .flag-dropdown-menu{background: {{ section.settings.dropdown_bg }};}
    
    /* Search block */     
     .header-type-13 .search-bar input[type="search"] {color:{{section.settings.search_text }};} 
     .header-type-13 .header-search span  {color:{{section.settings.search_icon}};} 
     .header-type-13 .header-search span:hover {color:{{section.settings.search_icon_hover }};} 
     .header-type-13 .search-bar__form, .header-type-13 #SearchDrawer  {  background:{{section.settings.search_bg }};}
     .header-type-13 .search-bar__form button,.header-type-13 .search-bar__icon-button { color:{{section.settings.search_link }};}
     .header-type-13 .search-bar__form button:hover,.header-type-13 .search-bar__icon-button:hover { color:{{section.settings.search_link_hover }};}
     .header-type-13 .header-panel-top ul li.currency-block,.header-type-13 #slidedown-cart li { border-bottom:1px solid {{ section.settings.border_between_bars}}; }
     
     .header-type-13 .search-bar input[type="search"]::-webkit-input-placeholder  { /* Chrome/Opera/Safari */
       color:{{section.settings.search_text }};
     }
     .header-type-13 .search-bar input[type="search"]::-moz-placeholder { /* Firefox 19+ */
       color:{{section.settings.search_text }};
     }
     .header-type-13 .search-bar input[type="search"]:-ms-input-placeholder { /* IE 10+ */
       color:{{section.settings.search_text }};
     }
     .header-type-13 .search-bar input[type="search"]:-moz-placeholder { /* Firefox 18- */
       color:{{section.settings.search_text }};
     }
     /* Cart Summary block */
    .header-type-13 a.icon-cart-arrow i  {color: {{ section.settings.minicart_icon }};}
    .header-type-13 a.icon-cart-arrow:hover i {color: {{ section.settings.minicart_icon_hover }};}
    .header-type-13 #slidedown-cart .actions, .header-type-13  #slidedown-cart  {background: {{ section.settings.minicart_bg }};}
    .header-type-13 .header-bar__module p {color: {{ section.settings.minicart_text }};}
    .header-type-13 .header-bar__module a {color:{{section.settings.minicart_link }};}  
    .header-type-13 .header-bar__module a:hover {color:{{section.settings.minicart_link_hover}};} 
    .header-type-13 .header-bar__module .btn {color:{{section.settings.minicart_btn_text}};background: {{ section.settings.minicart_btn_bg }};} 
    .header-type-13 .header-bar__module .btn:hover {color:{{section.settings.minicart_btn_hover_text}};background: {{ section.settings.minicart_btn_hover_bg }};} 
    
    
     /* Currency block */
    .header-type-13 .tbl-list>li.currency .flag-dropdown-menu  {background: {{ section.settings.currency_bg }};}
    .header-type-13 .flag-dropdown-menu li a span {color: {{ section.settings.currency_link }};}
    .header-type-13 .flag-dropdown-menu li a:hover span {color:{{section.settings.currency_hover_link }};}  
    .header-type-13  #slidedown-cart .total .price, .header-type-13 #minicart_total,.header-type-13 #slidedown-cart ul li .cart-collateral {color:{{section.settings.minicart_total }};}   
    
     
     
     /* Header borders */
    
     
      </style> 

{% schema %}
  {
    "name": "Header",
	"max_blocks": 10,
    "settings": [
{
  "type":"checkbox",
  "id": "display_search",
  "label": "Display search"	
  },

  {
  "type": "checkbox",
  "id": "display_minicart",
  "label": "Display minicart"
  },
  {
  "type": "checkbox",
  "id": "display_wishlist",
  "label": "Display wishlist"
  },
{
  "type": "header",
  "content": "Logo Block"
},

  {
  "type": "color",
  "id": "logo_text",
  "label": "Text",
  "default": "#000"
  },
    {
  "type": "color",
  "id": "logo_hover_text",
  "label": "Hover text",
  "default": "#000"
  },
{
  "type": "header",
  "content": "Border Block"
},
 {
  "type": "color",
  "id": "border_between_bars",
  "label": "Border lines",
  "default": "#e4e4e4"
  },
{
  "type": "header",
  "content": "Search Block"
},
{
  "type": "color",
  "id": "search_bg",
  "label": "Background",
  "default": "#fff"
  },
{
  "type": "color",
  "id": "search_icon",
  "label": "Icon",
  "default": "#000"
  },
{
  "type": "color",
  "id": "search_icon_hover",
  "label": "Icon hover",
  "default": "#35b8f4"
  },

 {
  "type": "color",
  "id": "search_text",
  "label": "Text",
  "default": "#000"
  },
{
  "type": "color",
  "id": "search_link",
  "label": "Link",
  "default": "#000"
  },
{
  "type": "color",
  "id": "search_link_hover",
  "label": "Link Hover",
  "default": "#000"
  },
{
  "type": "header",
  "content": "Dropdown Block"
},
{
  "type": "color",
  "id": "dropdown_icon",
  "label": "Icon",
  "default": "#000"
  },
{
  "type": "color",
  "id": "dropdown_icon_hover",
  "label": "Icon hover",
  "default": "#35b8f4"
  },
{
  "type": "color",
  "id": "dropdown_bg",
  "label": "Background",
  "default": "#fff"
  },
 {
  "type": "color",
  "id": "dropdown_link",
  "label": "Links",
  "default": "#000"
  },
 {
  "type": "color",
  "id": "dropdown_hover_link",
  "label": "Link hover",
  "default": "#35b8f4"
  },
{
  "type": "header",
  "content": "Cart Block"
},
{
  "type": "color",
  "id": "minicart_icon",
  "label": "Icon",
  "default": "#000"
 },
{
  "type": "color",
  "id": "minicart_icon_hover",
  "label": "Icon hover",
  "default": "#35b8f4"
 },
{
  "type": "color",
  "id": "minicart_count",
  "label": "Count Text",
  "default": "#000"
  },
{
  "type": "color",
  "id": "minicart_count_bg",
  "label": "Count Bg",
  "default": "#000"
  },
{
  "type": "color",
  "id": "minicart_count_hover_bg",
  "label": "Count Hover Bg",
  "default": "#000"
  },
{
  "type": "color",
  "id": "minicart_count_hover_text",
  "label": "Count Hover Text",
  "default": "#000"
  },
{
  "type": "color",
  "id": "minicart_bg",
  "label": "Background",
  "default": "#fff"
  },
 {
  "type": "color",
  "id": "minicart_text",
  "label": "Text",
  "default": "#000"
  },
  {
  "type": "color",
  "id": "minicart_link",
  "label": "Link",
  "default": "#000"
  },
 {
  "type": "color",
  "id": "minicart_link_hover",
  "label": "Link hover",
  "default": "#35b8f4"
  },
  {
  "type": "color",
  "id": "minicart_btn_bg",
  "label": "Button background",
  "default": "#000"
    },
  {
  "type": "color",
  "id": "minicart_btn_hover_bg",
  "label": "Hover background",
  "default": "#000"
  },
  {
  "type": "color",
  "id": "minicart_btn_text",
  "label": "Button text",
  "default": "#000"
  },
    {
  "type": "color",
  "id": "minicart_btn_hover_text",
  "label": "Hover text",
  "default": "#000"
  },
{
  "type": "color",
  "id": "minicart_total",
  "label": "Cart Total",
  "default": "#000"
  },  
  {
  "type": "header",
  "content": "Menu Block"
},
  {
  "type": "color",
  "id": "menubar_bg",
  "label": "Background",
  "default": "#fff"
  },  
  {
  "type": "color",
  "id": "menubar_links",
  "label": "Links",
  "default": "#000"
  },
        {
  "type": "color",
  "id": "menubar_links_hover",
  "label": "Hover links",
  "default": "#000"
  },
{
  "type": "color",
  "id": "menu_active",
  "label": "Active menu",
  "default": "#35b8f4"
  },
 {
  "type": "color",
  "id": "menubar_dropdown_bg",
  "label": "Dropdown menu background",
  "default": "#fff"
  },
{
  "type": "color",
  "id": "menubar_dropdown_caption",
  "label": "Dropdown menu title",
  "default": "#000"
  },
{
  "type": "color",
  "id": "menubar_dropdown_caption_hover",
  "label": "Dropdown menu title hover",
  "default": "#35b8f4"
  },
{
  "type": "color",
  "id": "menubar_dropdown_links",
  "label": "Dropdown menu links",
  "default": "#000"
  },
 {
  "type": "color",
  "id": "menubar_dropdown_links_hover",
  "label": "Dropdown menu links hover",
  "default": "#35b8f4"
  },

    {
    "type": "checkbox",
    "id": "display_megamenu",
    "label": "Display Mega Menu?",
    "default": true
    }
],
"blocks": [
	  {
	  	"type": "style_1",
      	"name": "Style 1",
      	"settings": [
		  {
            "type": "text",
            "id": "title",
            "label": "Menu - Style 1",
            "default": "Menu - Style 1"
          },
		  {
            "type": "text",
            "id": "megamenu_items_1",
            "label": "Mega Menu Items for Style 1",
            "default": "Catalog"
            
          },
		  {
            "type": "link_list",
            "id": "main_linklist_1",
            "label": "Collection"
          },
		  {
            "type": "image_picker",
            "id": "banner_first_style_1",
            "label": "Upload a new image",
            "info": "224px x 337px recommended"
          },
		  {
			"type": "url",
			"id": "link_banner_first_style_1",
			"label": "Banner link"
		  }
		  
		]
      },
	  {
	  	"type": "style_2",
      	"name": "Style 2",
      	"settings": [
		  {
            "type": "text",
            "id": "title",
            "label": "Menu - Style 2",
            "default": "Menu - Style 2"
          },
		  {
            "type": "text",
            "id": "megamenu_items_2",
            "label": "Mega Menu Items for Style 2",
            "default": "Catalog"
          },
		  {
            "type": "link_list",
            "id": "main_linklist_2",
            "label": "Collection"
          },
		  
		  {
            "type": "image_picker",
            "id": "banner_second_style_2",
            "label": "Upload a new image",
            "info": "224px x 165px recommended"
          },
		  {
			"type": "url",
			"id": "link_banner_second_style_2",
			"label": "Link image 1"
		  },
		  {
            "type": "image_picker",
            "id": "banner_third_style_2",
            "label": "Upload a new image",
            "info": "224px x 165px recommended"
          },
		  {
			"type": "url",
			"id": "link_banner_third_style_2",
			"label": "Link image 2"
		  },
		 {
            "type": "image_picker",
            "id": "banner_first_style_2",
            "label": "Upload a new image",
            "info": "224px x 337px recommended"
          },
		  {
			"type": "url",
			"id": "link_banner_first_style_2",
			"label": "Link image 3"
		  }
		]
      },
	  {
	  	"type": "style_3",
      	"name": "Style 3",
      	"settings": [
		  {
            "type": "text",
            "id": "title",
            "label": "Menu - Style 3",
            "default": "Menu - Style 3"
          },
		  {
            "type": "text",
            "id": "megamenu_items_3",
            "label": "Mega Menu Items for Style 3",
            "default": "Catalog"
          },
		  {
            "type": "link_list",
            "id": "main_linklist_3",
            "label": "Collection"
          },
		  
		  {
            "type": "text",
            "id": "title_featured_product_3",
            "label": "Title Product"
          },
		  {
            "type": "product",
            "id": "featured_product_3",
            "label": "Product"
          },
         
		  {
            "type": "image_picker",
            "id": "banner_first_style_3",
            "label": "Upload a new image",
            "info": "224px x 337px recommended"
          },
		  {
			"type": "url",
			"id": "link_banner_first_style_3",
			"label": "Link image"
		  }
		]
      },
	  {
	  	"type": "style_4",
      	"name": "Style 4",
      	"settings": [
		  {
            "type": "text",
            "id": "title",
            "label": "Menu - Style 4",
            "default": "Menu - Style 4"
          },
		  {
            "type": "text",
            "id": "megamenu_items_4",
            "label": "Mega Menu Items for Style 4",
            "default": "Catalog"
          },
		  {
            "type": "link_list",
            "id": "main_linklist_4",
            "label": "Collection"
          }
		]
      },
	{
	  	"type": "style_5",
      	"name": "Style 5",
      	"settings": [
		  {
            "type": "text",
            "id": "title",
            "label": "Menu - Style 5",
            "default": "Menu - Style 5"
          },
		  {
            "type": "text",
            "id": "megamenu_items_5",
            "label": "Mega Menu Items for Style 5",
            "default": "Catalog"
          },
		  {
            "type": "link_list",
            "id": "main_linklist_5",
            "label": "Collection"
          },
		{
            "type": "image_picker",
            "id": "banner_first_style_5",
            "label": "Upload a new image",
            "info": "610px x 350px recommended"
          },
		  {
			"type": "url",
			"id": "link_banner_first_style_5",
			"label": "Link image 1"
		  },
		 {
            "type": "image_picker",
            "id": "banner_second_style_5",
            "label": "Upload a new image",
            "info": "610px x 350px recommended"
          },
		  {
			"type": "url",
			"id": "link_banner_second_style_5",
			"label": "Link image 2"
		  }
		]
      }
	]
  }
{% endschema %}

